
.gdg-img-resources {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .gdg-img-resource-hires {
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    
        .gdg-img-resource-wrapper {
            width: 200px;
            height: 200px;
            padding: 20px;
            display: flex;
    
            img {
                max-width: 100%;
            }
        }

        .gdg-img-resource-link {
            a {
                margin-top: 10px;
                display: block;
                text-decoration: none;
                border: none;
                padding: 10px 20px;
                color: #FFF;
                background: rgb(72, 132, 244);
                margin: 0px 5px;
                border-radius: 20px;
                font-family: 'ProductSansRegular', sans-serif;
            }
        }
    }
}

