<div class="gdg-sidebar">
    <div class="gdg-sidebar-toplogo">
        <img src="./assets/imgs/gdg_white.svg" />
    </div>
    <div class="gdg-sidebar-nav">
        <ul>
            <li>
                <a [routerLink]="['/main']">GDG Lockup</a>
            </li>
            <li>
                <a [routerLink]="['/sticker']">Sticker Generator</a>
            </li>
            <li>
                <a [routerLink]="['/other']">Other Resources</a>
            </li>
        </ul>
    </div>
</div>
